{% extends 'base.html' %} {% load static %} {% load i18n %}
{% block page_title %} {{ block.super }} / {% trans "Product List" %}{% endblock page_title %} {% block content %}
<div id="products">
    <h1>{% trans "Product List" %}</h1>
    <form class="form-inline" method="get">
        <input type="submit" class="btn btn-default" value ='{% trans "Export CSV" %}' onclick="javascript: form.action='{% url 'export-csv-product' %}';">
    </form>
    <div class="table-responsive">
        <table class="table table-hover tablesorter" id="product-list" aria-describedby="Product list">
            <thead>
            <th scope="col">{% trans "Product Code" %}</th>
            <th scope="col">{% trans "Bank Id" %}</th>
            <th scope="col">{% trans "Name" %}</th>
            <th scope="col">{% trans "More info" %}</th>
            </thead>
            <tbody>
            {% for product in products_list %}

            <tr data-product-code="{{ product.product_code }}">
                <td>{{ product.product_code }}</td>
                <td>{{ product.bank_id }}</td>
                <td>{{ product.name }}</td>
                <td>
                    <div class="popuptext">
                        <ul>
                            <li>{% trans "Description" %}:
                                <ul>
                                    <li>{{product.more_info_url}}</li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>

{% endblock %} {% block extrajs %} {% endblock extrajs %} {% block extracss %}
<link href="{% static 'productlist/css/product.css' %}" rel="stylesheet"> {% endblock extracss %}