{% extends 'base.html' %}
{% load static %}

{% block page_title %}{{ block.super }} / Users{% endblock page_title %}

{% block content %}
<div id="methodrouting">
	<div id="methodrouting_list">
		<h1>Method Routing</h1>

        <div class="row">
            <div class="col-xs-12 col-sm-2">
                <label class="form-group" >Method Name:</label> <br>
            </div>
            <div class="col-xs-12 col-sm-2">
                <label class="form-group" >Connector Name:</label> <br>
            </div>
            <div class="col-sm-12 col-sm-2">
                <label class="form-group" >Bank Id Pattern:</label> <br>
            </div>
            <div class="col-sm-12 col-sm-2">
                <label class="form-group" >Is Bank Id Exact Match:</label> <br>
            </div>
            <div class="col-sm-12 col-sm-2">
                <label class="form-group" >parameters:</label> <br>
            </div>
        </div>
		<form method="post">
        {% for method_routhing in method_routhings %}
            <div class="row">
                <div class="col-xs-12 col-sm-2">
                    <div class="form-group"  cols="1" rows="1"><strong>{{ method_routhing.method_name }}</strong></div>
                </div>
                <div class="col-xs-12 col-sm-2">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle"
                                data-toggle="dropdown">
                            LocalMapped <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">kafka_vSept2018</a></li>
                            <li><a href="#">akka_vDec2018</a></li>
                            <li><a href="#">mapped</a></li>
                            <li><a href="#">rest_vMar2019</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-2">
                    <textarea class="form-group" rows="1" >{{ method_routhing.bank_id_pattern }}</textarea>
                </div>
                <div class="col-xs-12 col-sm-2">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle"
                                data-toggle="dropdown">
                            False <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">True</a></li>
                            <li><a href="#">False</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-2">
                    <div class="form-group">
                        <textarea  cols="40" rows="1" class="form-control">{{ method_routhing.parameters }}</textarea>
                    </div>
                </div>
                <div class="col-sm-12 col-sm-2">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-green">Save</button>
                    </div>
                </div>
            </div>
        {% endfor %}
		</form>
	</div>
</div>
{% endblock %}

{% block extrajs %}
	<script type="text/javascript" src="{% static 'methodrouting/js/methodrouting.js' %}"></script>

{% endblock extrajs %}


{% block extracss %}
	<link href="{% static 'methodrouting/css/methodrouting.css' %}" rel="stylesheet">
{% endblock extracss %}
