{% extends 'base.html' %}
{% load static i18n %}
{% block page_title %}{{ block.super }} / Connector Methods{% endblock page_title %}

{% block content %}
<h1>{% trans "Connector Methods" %}</h1>
<div class="row">
    <div class="col-xs-12 col-sm-2">
        <label class="form-group">{% trans "Connector Method id" %}:</label> <br>
    </div>
    <div class="col-xs-12 col-sm-2">
        <label class="form-group">{% trans "Method Name" %}:</label> <br>
    </div>
    <div class="col-xs-12 col-sm-2">
        <label class="form-group">{% trans "Programming Language" %}:</label> <br>
    </div>
    <div class="col-xs-12 col-sm-6">
        <label class="form-group">{% trans "Method Body" %}:</label> <br>
    </div>
</div>
<form method="post">
    {% csrf_token %}
    {% for connectormethod in connectormethods %}
    {% url 'connector_detail' connectormethod.connector_method_id as url_connector_detail  %}
    <div class="runner">
        <div class="row">
            <div class="col-xs-12 col-sm-2">
                <div class="form-group" cols="1" rows="1">
                    <a class="api_collection_id" href="{{ url_collection_detail }}">{{ connectormethod.connector_method_id }}</a></div>
            </div>
            {% if connectormethod.connector_method_id %}
            <div class="col-xs-12 col-sm-2">
                <div class="form-group" cols="1" rows="1">
                    <div>{{ connectormethod.method_name }}</div></div>
            </div>
            <div class="col-xs-12 col-sm-2">
                <div class="form-group" cols="1" rows="1">
                    <div>{{ connectormethod.programming_lang }}</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div cols="40" rows="1" class="form-control" style="overflow:scroll; padding:0px, 0px, 0px, 2px; height:50px;">{{connectormethod.method_body}}</div>
            </div>
            {% else %}
            <div class="col-xs-12 col-sm-2">
                <div class="form-group" cols="1" rows="1">
                    <input class="api_collection_name" value="Method Name">
                </div>
            </div>
            <div class="col-xs-12 col-sm-2">
                <div class="form-group" cols="1" rows="1">
                    <select class="api_collection_is_sharable form-control">
                        <option value="True">Scala</option>
                        <option value="False">Java</option>
                        <option value="False">JavaScript</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <textarea cols="40" rows="1" class="form-control api_collection_description">{% trans "Enter Your Method Body" %}</textarea>
            </div>
            {%  endif %}
            {%  if forloop.counter0 == 0 %}
            <div class="col-sm-12 col-sm-2">
                <div class="form-group">
                    <button class="btn btn-primary btn-green forSave">{% trans "Create" %}</button>
                </div>
            </div>
            {%  endif %}
            {%  if forloop.counter0 > 0 %}
            <div class="col-sm-12 col-sm-2">
                <div class="form-group">
                    <button class="btn btn-primary btn-red forDelete">{% trans "Update" %}</button>
                </div>
            </div>
            {%  endif %}
        </div>
    </div>
    {% endfor %}
</form>
{% endblock %}


{% block extrajs %}
<script type="text/javascript" src="{% static 'apicollections/js/apicollections.js' %}"></script>
{% endblock extrajs %}
