{% extends 'base.html' %}
{% load static %}

{% block page_title %}{{ block.super }} / Users{% endblock page_title %}

{% block content %}
    <div id="webui">
        <div id="webui_list">
            <h1>WEBUI</h1>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <label class="form-group">Web UI Props Name:</label> <br>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <label class="form-group">Web UI Props Value:</label> <br>
                </div>
                <div class="col-sm-12 col-sm-4">
                    <label class="form-group">Save Value:</label> <br>
                </div>
            </div>
            <form method="post">
                {% csrf_token %}
                {% for webui_prop in webui_props %}
                    <div class="runner">
                        <div class="row">
                            <input type="hidden" , class="web_ui_props_id" , value="{{ webui_prop.web_ui_props_id }}">
                            <div class="col-xs-12 col-sm-4">
                                <div class="form-group" cols="20" rows="1"><div
                                        class="webui_props_name">{{ webui_prop.name }}</div></div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <div class="form-group">
                                    <textarea class="form-control required webui_props_value" cols="40"
                                              rows="1">{{ webui_prop.value }}</textarea>
                                </div>
                            </div>
                            <div class="col-sm-12 col-sm-4">
                                <div class="form-group">
                                    <button class="btn btn-primary btn-green forSave">Save</button>
                                    <button class="btn btn-primary btn-red forDelete">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </form>
        </div>
    </div>
{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="{% static 'webui/js/webui.js' %}"></script>

{% endblock extrajs %}


{% block extracss %}
    <link href="{% static 'webui/css/webui.css' %}" rel="stylesheet">
{% endblock extracss %}
