#Django==1.11.7
Django==2.2.27
oauthlib==2.0.0
requests==2.20.0
requests-oauthlib==0.6.2
PyJWT==1.5.3
gunicorn==19.6.0
matplotlib
django-bootstrap-datepicker-plus==3.0.5
django-mathfilters
django-bootstrap3
#uncomment below if you cannot / want not install psycopg2 from source or distribution package
#psycopg2-binary==2.8.6
