#Django==1.11.7
Django==2.2.21
oauthlib==2.0.0
requests==2.20.0
requests-oauthlib==0.6.2
PyJWT==1.5.3
gunicorn==19.6.0
matplotlib
django-bootstrap-datepicker-plus
django-mathfilters
django-bootstrap3
psycopg2==2.7.3.1