{% extends 'base.html' %} {% load static %} {% load i18n %}  {% block page_title %}{{ block.super }} / Banks{% endblock page_title %} {% block content %}
<div id="banks">
    <h1>{% trans "Bank Detail" %}</h1>
    <h2>{{ bank_id }}</h2>
    <input type="hidden" value="{{bank_id}}" id="current_bank_id" />
    <form method="post">
        {% csrf_token %} {% if form.non_field_errors %}
        <div class="alert alert-danger">{{ form.non_field_errors }}</div>
        {% endif %}
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                {% if form.bank_id.errors %}
                <div class="alert alert-danger">{{ form.bank_id.errors }}</div>
                {% endif %}
                <div class="form-group">
                    {{ form.bank_id.label_tag }} {{ form.bank_id }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                {% if form.bank_code.errors %}
                <div class="alert alert-danger">{{ form.bank_code.errors }}</div>
                {% endif %}
                <div class="form-group">{{ form.bank_code.label_tag }} {{ form.bank_code }}</div>
            </div>
            <div class="col-xs-12 col-sm-4">
                {% if form.full_name.errors %}
                <div class="alert alert-danger">{{ form.full_name.errors }}</div>
                {% endif %}
                <div class="form-group">
                    {{ form.full_name.label_tag }} {{ form.full_name }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                {% if form.logo.errors %}
                <div class="alert alert-danger">
                    {{ form.logo.errors }}
                </div>
                {% endif %}
                <div class="form-group">
                    {{ form.logo.label_tag }} {{ form.logo }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                {% if form.website.errors %}
                <div class="alert alert-danger">
                    {{ form.website.errors }}
                </div>
                {% endif %}
                <div class="form-group">
                    {{ form.website.label_tag }} {{ form.website }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                {% if form.bank_routings_scheme.errors %}
                <div class="alert alert-danger">
                    {{ form.bank_routings_scheme.errors }}
                </div>
                {% endif %}
                <div class="form-group">
                    {{ form.bank_routings_scheme.label_tag }} {{ form.bank_routings_scheme }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                {% if form.bank_routings_address.errors %}
                <div class="alert alert-danger">{{ form.bank_routings_address.errors }}</div>
                {% endif %}
                <div class="form-group">
                    {{ form.bank_routings_address.label_tag }} {{ form.bank_routings_address }}
                </div>
            </div>
        </div>
        <input type="submit" value="Update" class="btn btn-primary"/>
    </form>
    <form method ="POST">
        {% csrf_token %}
        <div class="row">
            <h1>Bank Attributes</h1>
            <div class="col-xs-12 col-sm-3">
                <label class="form-group">{% trans "Attribute Name" %}:</label> <br>
            </div>
            <div class="col-xs-12 col-sm-3">
                <label class="form-group">{% trans "Attribute Type" %}:</label> <br>
            </div>
            <div class="col-xs-12 col-sm-3">
                <label class="form-group">{% trans "Attribute Value" %}:</label> <br>
            </div>
        </div>
        <div class="runner">
            <div class="row">
                <div class="col-xs-12 col-sm-3">
                    <div class="form-group" cols="1" rows="1">
                        <input class="bank_attribute_name" value="Attribute Name">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <div class="form-group" cols="1" rows="1">
                        <input class="bank_attribute_type" value="Attribute Type">
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="form-group" cols="1" rows="1">
                        <input class="bank_attribute_value" value="Attribute Value">
                    </div>
                </div>
                <div class="col-sm-6 col-sm-3">
                    <div class="form-group">
                        <button class="btn btn-primary btn-green forSave">{% trans "Create" %}</button>
                    </div>
                </div>
            </div>
        </div>
        {% for attribute in bank_attributes_list %}
        {% url 'my-bank-attribute-detail' attribute.bank_attribute_id as url_bank_attribute_detail %}
        <div class="runner">
            <div class="row">
                {% if attribute.bank_attribute_id %}
                <input type ="hidden" class="bank_attribute_id" value="{{ attribute.bank_attribute_id }}">
                <div class="col-xs-12 col-sm-3">
                    <div class="form-group" cols="1" rows="1">
                        <div>
                            <input class="bank_attribute_name form-control" value="{{ attribute.name }}">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <div class="form-group" cols="1" rows="1">
                        <div>
                            <input class="bank_attribute_type form-control" value="{{ attribute.type }}">
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="form-group" cols="1" rows="1">
                        <div>
                            <input class="bank_attribute_value form-control" value="{{ attribute.value }}">
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="col-sm-3 col-sm-1">
                    <div class="form-group">
                        <button class="btn btn-primary forUpdate">{% trans "Update" %}</button>
                    </div>
                </div>
                <div class="col-sm-3 col-sm-1">
                    <div class="form-group">
                        <button class="btn btn-primary btn-red forDelete">{% trans "Delete" %}</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </form>
</div>
<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script>
$(document).ready(function($) {
    var bank_id = $('#current_bank_id').val();
    $('.runner button.forSave').click(function(e) {
        e.preventDefault();
        let runner = $(this).parent().parent().parent();
        let name = $(runner).find('.bank_attribute_name').val();
        let type = $(runner).find('.bank_attribute_type').val();
        let value = $(runner).find('.bank_attribute_value').val();
        $('.runner button.forUpdate').attr("disabled", "disabled");
        $('.runner button.forSave').attr("disabled", "disabled");
        $('.runner button.forDelete').attr("disabled", "disabled");

        $.post('save/attribute', {
			'name': name,
			'type': type,
			'value': value,
			'bank_id': bank_id,
		}, function (response) {
			location.reload();

		});
    });
    $('.runner button.forUpdate').click(function(e) {
        e.preventDefault();
        let runner = $(this).parent().parent().parent();
        let bank_attribute_id = $(runner).find('.bank_attribute_id').attr("value");
        console.log(bank_attribute_id)
        let name = $(runner).find('.bank_attribute_name').val();
        let type = $(runner).find('.bank_attribute_type').val();
        let value = $(runner).find('.bank_attribute_value').val();
        $('.runner button.forUpdate').attr("disabled", "disabled");
        $('.runner button.forSave').attr("disabled", "disabled");
        $('.runner button.forDelete').attr("disabled", "disabled");
        console.log(name, type, value, bank_id)
        $.post('updateattribute/attribute', {
            'bank_attribute_id': bank_attribute_id,
            'name': name,
            'type': type,
            'value': value,
            'bank_id': bank_id,
        }, function(response) {
            location.reload();
        });
    });

    $('.runner button.forDelete').click(function(e) {
        e.preventDefault();
        let runner = $(this).parent().parent().parent();
        let bank_attribute_id = $(runner).find('.bank_attribute_id').attr("value");
        $('.runner button.forUpdate').attr("disabled", "disabled");
        $('.runner button.forSave').attr("disabled", "disabled");
        $('.runner button.forDelete').attr("disabled", "disabled");
        $.post('delete/attribute', {
            'bank_attribute_id': bank_attribute_id,
            'bank_id': bank_id,
        }, function(response) {
            location.reload();
        });
    });
});
</script>
{% endblock content %} {% block extrajs %} {% endblock extrajs %} {% block extracss %}
<link href="{% static 'banks/css/banks.css' %}" rel="stylesheet"/> {% endblock extracss %}
