#config pre {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}
#config .string { color: green; }
#config .number { color: darkorange; }
#config .boolean { color: blue; }
#config .null { color: magenta; }
#config .key { color: red; }

/* custom bold styling for non-default JSON schema values */
.jsoneditor-is-not-default {
  font-weight: bold;
}

.jsoneditor_div{
  height: 400px;
}