#config pre {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}
#config .string { color: green; }
#config .number { color: darkorange; }
#config .boolean { color: blue; }
#config .null { color: magenta; }
#config .key { color: red; }

#jsoneditor {
  width: 100%;
  height: 500px;
}

/* custom bold styling for non-default JSON schema values */
.jsoneditor-is-not-default {
  font-weight: bold;
}