html {
	position: relative;
	min-height: 100%;
	background-color: #fff;
}

body {
	background-color: #fff;
	padding-top: 70px;
	margin-bottom: 60px; /* footer height */
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #333;
}
footer p {
	margin-top: 25px;
	font-size: 10px;
	text-align: center;
	color: #aaa;
}
footer a:link, .footer a:visited {
	color: #ddd;
}
footer a:hover, .footer a:focus {
	color: #fff;
}


.navbar-brand img {
	width: 20px;
	height: 20px;
}


.navbar-default {
	background-color: #53c4ef;
	border: none;
}


.navbar-default .navbar-nav > li > a:link, .navbar-default .navbar-nav > li > a:visited {
	color: #fff;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
	color: #eee;
}

.navbar-default .navbar-nav > li.active > a, .navbar-default .navbar-nav > li.active > a:focus, .navbar-default .navbar-nav > li.active > a:hover, .navbar-default .navbar-nav > li.active > a:visited {
	color: #555;
	background-color: #fff;
	border: none;
}

.navbar-default .navbar-toggle {
	border-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #33a4cf;
}

.navbar-btn {
    margin-left: 15px;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:active {
    background-color: #53c4ef;
}

.btn-primary {
	background-color: #53c4ef;
	border-color: #33a4cf;
}

.btn-primary:hover {
	background-color: #33a4cf;
	border-color: #33a4cf;
}

.btn-green {
	background-color: #0c0;
	border-color: #0b0;
}
.btn-green:hover, .btn-green:focus, .btn-green:active, .btn-green:active:hover, .btn-green:active:focus {
	background-color: #0b0;
	border-color: #0b0;
}
.btn-red {
	background-color: #f00;
	border-color: #d00;
}
.btn-red:hover, .btn-red:focus, .btn-red:active, .btn-red:active:hover, .btn-red:active:focus {
	background-color: #d00;
	border-color: #d00;
}


.messages {
	margin-top: 30px;
}


.home #login, .home #intro {
	margin-top: 30px;
}

.home #logo-full {
	margin: 80px auto;
}

div.filter {
	display: inline;
}


table.tablesorter td {
	min-width: 40px;
}
table.tablesorter thead tr .header {
	background-image: url(../img/tablesorter/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
	padding-right: 15px;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../img/tablesorter/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../img/tablesorter/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: #e6e6e6;
}


#authentication-select {
	margin-bottom: 10px;
}
.authentication-method {
	display: none;
}
