/* Override Log on/out button */
/*
.navbar-btn .btn-default {
    font-family: UniversNextforDolphin-Regular;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    line-height: 24px;
    background: #DB0011;
    border-radius: 0;
    border: 0;
}
.navbar-btn .btn-default:hover {
	background: #AF000D;
}
.navbar-btn .btn-default:active {
	background: #83000A;
}
*/