{% load i18n %}
<form class="form-inline" method="get">
    <div class="form-group">
        <label for="offset">{% trans "Offset" %}:</label>
        <input type="number" class="form-control" name="offset" id="offset" placeholder="0" value="{{ offset }}">
    </div>
    <div class="form-group">
        <label for="limit">{% trans "Limit" %}:</label>
        <input type="number" class="form-control" name="limit" id="limit" placeholder="50" value="{{ limit }}">
    </div>
    <input type="submit" class="btn btn-default" value ='{% trans "Refresh" %} ' onclick="javascript: form.action='';"></input>
    <input type="submit" class="btn btn-default" value ='{% trans "Export CSV" %} ' onclick="javascript: form.action='{% url 'export-csv-users' %}';"></input>
</form>