<form class="form-inline" method="get">
    <div class="form-group">
        <label for="offset">Offset:</label>
        <input type="number" class="form-control" name="offset" id="offset" placeholder="0" value="{{  offset }}">
    </div>
    <div class="form-group">
        <label for="limit">Limit:</label>
        <input type="number" class="form-control" name="limit" id="limit" placeholder="50" value="{{ limit }}">
    </div>
    <button type="submit" class="btn btn-default">Get user list</button>
</form>