.consumers #consumer-list  {
	margin-top: 20px;
}

#consumers .btn-group-vertical.filter-enabled,
#consumers .btn-group-vertical.filter-apptype {
	margin-top: 10px;
}

#consumers-detail div {
	margin: 10px 0;
}
