{% extends 'base.html' %} {% load static %} {% load i18n %}
{% block page_title %} {{ block.super }} / {% trans "System View" %}{% endblock page_title %} {% block content %}
<div id="systemview">
  <h1>{% trans "System View" %}</h1>
  <form class="form-inline" method="get">
    <input type="submit" class="btn btn-default" value ='{% trans "Export CSV" %}' onclick="javascript: form.action='{% url 'export-csv' %}';">
  </form>
  <div class="table-responsive">
    <table class="table table-hover tablesorter" id="system_view" aria-describedby="system view">
      <thead>
      <th scope="col">{% trans "Id" %}</th>
      <th scope="col">{% trans "Short Name" %}</th>
      <th scope="col">{% trans "Is Public" %}</th>
      <th scope="col">{% trans "Alias" %}</th>
      </thead>
      <tbody>

      <tr data-system-view="{{ system_view.id }}">
        <td>{{ system_view.id }}</td>
        <td>{{ system_view.short_name }}</td>
        <td>{{ system_view.is_public }}</td>
        <td>{{ system_view.alias }}</td>

        <td><a href="{{ url_systemview_update }}" class="btn btn-primary">{% trans "View" %}</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %} {% block extrajs %} {% endblock extrajs %} {% block extracss %}
<link href="{% static 'systemview/css/systemview.css' %}" rel="stylesheet"> {% endblock extracss %}