{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block page_title %}{{ block.super }} / Branches{% endblock page_title %}

{% block content %}
<div id="branches_list">
	<h1>{% trans "Branches" %}</h1>

	<form method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {{ form.non_field_errors }}
        </div>
        {% endif %}
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                {% if form.branch_id.errors %}<div class="alert alert-danger">{{ form.branch_id.errors }}</div>{% endif %}
                <div class="form-group">
                    {{ form.branch_id.label_tag }}
                    {{ form.branch_id }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                {% if form.bank_id.errors %}<div class="alert alert-danger">{{ form.bank_id.errors }}</div>{% endif %}
                <div class="form-group">
                    <strong>{% trans "bank_id" %} </strong>
                    {{ form.bank_id }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                {% if form.name.errors %}<div class="alert alert-danger">{{ form.name.errors }}</div>{% endif %}
                <div class="form-group">
                    {{ form.name.label_tag }}
                    {{ form.name }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-4">
                {% if form.branch_type.errors %}<div class="alert alert-danger">{{ form.branch_type.errors }}</div>{% endif %}
                <div class="form-group">
                    {{ form.branch_type.label_tag }}
                    {{ form.branch_type }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                {% if form.location_latitude.errors %}<div class="alert alert-danger">{{ form.location_latitude.errors }}</div>{% endif %}
                <div class="form-group">
                    <strong>{% trans "location_latitude" %} </strong>
                    {{ form.location_latitude }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                {% if form.location_longitude.errors %}<div class="alert alert-danger">{{ form.location_longitude.errors }}</div>{% endif %}
                <div class="form-group">
                    {{ form.location_longitude.label_tag }}
                    {{ form.location_longitude }}
                </div>
            </div>
        </div>

		<div class="row">
            <div class="col-xs-12 col-sm-4">
                {% if form.meta_license_name.errors %}<div class="alert alert-danger">{{ form.meta_license_name.errors }}</div>{% endif %}
                <div class="form-group">
                    {{ form.meta_license_name.label_tag }}
                    {{ form.meta_license_name }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                {% if form.branch_routing_scheme.errors %}<div class="alert alert-danger">{{ form.branch_routing_scheme.errors }}</div>{% endif %}
                <div class="form-group">
                    {{ form.branch_routing_scheme.label_tag }}
                    {{ form.branch_routing_scheme }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                {% if form.branch_routing_address.errors %}<div class="alert alert-danger">{{ form.branch_routing_address.errors }}</div>{% endif %}
                <div class="form-group">
                    {{ form.branch_routing_address.label_tag }}
                    {{ form.branch_routing_address }}
                </div>
            </div>
        </div>

		<div class="row">
            <div class="col-xs-12 col-sm-4">
                {% if form.is_accessible.errors %}<div class="alert alert-danger">{{ form.is_accessible.errors }}</div>{% endif %}
                <div class="form-group">
                    {{ form.is_accessible.label_tag }}
                    {{ form.is_accessible }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                {% if form.accessibleFeatures.errors %}<div class="alert alert-danger">{{ form.accessibleFeatures.errors }}</div>{% endif %}
                <div class="form-group">
                    {{ form.accessibleFeatures.label_tag }}
                    {{ form.accessibleFeatures }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                {% if form.more_info.errors %}<div class="alert alert-danger">{{ form.more_info.errors }}</div>{% endif %}
                <div class="form-group">
                    {{ form.more_info.label_tag }}
                    {{ form.more_info }}
                </div>
            </div>
        </div>

		<div class="row">
            <div class="col-xs-12 col-sm-4">
                {% if form.phone_number.errors %}<div class="alert alert-danger">{{ form.phone_number.errors }}</div>{% endif %}
                <div class="form-group">
                    {{ form.phone_number.label_tag }}
                    {{ form.phone_number }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-4">
                {% if form.address.errors %}<div class="alert alert-danger">{{ form.address.errors }}</div>{% endif %}
                <div class="form-group">
                    {{ form.address.label_tag }}
                    {{ form.address }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                {% if form.lobby.errors %}<div class="alert alert-danger">{{ form.lobby.errors }}</div>{% endif %}
                <div class="form-group">
                    {{ form.lobby.label_tag }}
                    {{ form.lobby }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                {% if form.drive_up.errors %}<div class="alert alert-danger">{{ form.drive_up.errors }}</div>{% endif %}
                <div class="form-group">
                    {{ form.drive_up.label_tag }}
                    {{ form.drive_up }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 hidden-xs">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-green">{% trans "Create" %}</button>
                </div>
            </div>
        </div>
    </form>

	<div class="table-responsive">
		<table class="table table-hover tablesorter" id="branches-list" aria-describedby="branches list">
			<thead>
				<th scope="col">{% trans "Branch Id" %}</th>
				<th scope="col">{% trans "Bank Id" %}</th>
				<th scope="col">{% trans "Branch Name" %}</th>
				<th scope="col">{% trans "More_info" %}</th>
				<th scope="col">{% trans "Update Button" %}</th>
			</thead>
			<tbody>
			{% for branch in branches_list %}
				{% url 'branches_update' branch.id branch.bank_id as url_branch_update %}
				<tr data-branch-id="{{ branch.id }}">
					<td>{{ branch.id }}</td>
					<td>{{ branch.bank_id }}</td>
					<td>{{ branch.name }}</td>
                    <td>
                        <div class="popuptext">
                            <ul>
                                <li>{% trans "Address" %}:
                                    <ul>
                                        <li>{% trans "line1" %}: {{branch.address.line_1}}</li>
                                        <li>{% trans "line2" %}: {{branch.address.line_2}}</li>
                                        <li>{% trans "line3" %}: {{branch.address.line_3}}</li>
                                        <li>{% trans "city" %}: {{branch.address.city}}</li>
                                        <li>{% trans "county" %}: {{branch.address.county}}</li>
                                        <li>{% trans "state" %}: {{branch.address.state}}</li>
                                        <li>{% trans "postcode" %}: {{branch.address.postcode}}</li>
                                        <li>{% trans "country_code" %}: {{branch.address.country_code}}</li>
                                    </ul>
                                </li>
                                <li>{% trans "Location" %}:
                                    <ul>
                                        <li>{% trans "latitude" %}: {{branch.location.latitude}}</li>
                                        <li>{% trans "longitude" %}: {{branch.location.longitude}}</li>
                                    </ul>
                                </li>
                                <li>{% trans "Meta License" %}:
                                    <ul>
                                        <li>{% trans "id" %}: {{branch.meta.license.id}}</li>
                                        <li>{% trans "name" %}: {{branch.meta.license.name}}</li>
                                    </ul>
                                </li>
                                <li>{% trans "Branch Routing" %}
                                    <ul>
                                        <li>{% trans "Scheme" %}: {{branch.branch_routing.scheme}}</li>
                                        <li>{% trans "Address" %}: {{branch.branch_routing.address}}</li>
                                    </ul>
                                </li>
                                <li>{% trans "Branch Type" %}: {{branch.branch_type}}</li>
                                <li>{% trans "More Info" %}: {{branch.more_info}}</li>
                                <li>{% trans "Phone Number" %}: {{branch.phone_number}}</li>
                                <li>{% trans "Accessible Features" %}: {{branch.accessibleFeatures}}</li>
                            </ul>
                        </div>
                    </td>
					<td><a href="{{ url_branch_update }}" class="btn btn-primary">{% trans "Update" %}</a></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}

{% block extrajs %}
{% comment %}
	<script type="text/javascript" src="{% static 'branches/js/branches.js' %}"></script>
	<script type="text/javascript">
	</script>
{% endcomment %}
{% endblock extrajs %}


{% block extracss %}
		<link href="{% static 'branches/css/branches.css' %}" rel="stylesheet">
{% endblock extracss %}
