{% extends 'base.html' %}
{% load static %}

{% block page_title %}{{ block.super }} / Branches{% endblock page_title %}

{% block content %}
<div id="branches_list">
	<h1>Branches</h1>

	<form method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {{ form.non_field_errors }}
        </div>
        {% endif %}

        <div class="row">
            <div class="col-xs-12 col-sm-4">
                {% if form.branch_id.errors %}<div class="alert alert-danger">{{ form.branch_id.errors }}</div>{% endif %}
                <div class="form-group">
                    {{ form.branch_id.label_tag }}
                    {{ form.branch_id }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                {% if form.bank_id.errors %}<div class="alert alert-danger">{{ form.bank_id.errors }}</div>{% endif %}
                <div class="form-group">
                    {{ form.bank_id.label_tag }}
                    {{ form.bank_id }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                {% if form.name.errors %}<div class="alert alert-danger">{{ form.name.errors }}</div>{% endif %}
                <div class="form-group">
                    {{ form.name.label_tag }}
                    {{ form.name }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-4">
                {% if form.branch_type.errors %}<div class="alert alert-danger">{{ form.branch_type.errors }}</div>{% endif %}
                <div class="form-group">
                    {{ form.branch_type.label_tag }}
                    {{ form.branch_type }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                {% if form.location_latitude.errors %}<div class="alert alert-danger">{{ form.location_latitude.errors }}</div>{% endif %}
                <div class="form-group">
                    {{ form.location_latitude.label_tag }}
                    {{ form.location_latitude }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                {% if form.location_longitude.errors %}<div class="alert alert-danger">{{ form.location_longitude.errors }}</div>{% endif %}
                <div class="form-group">
                    {{ form.location_longitude.label_tag }}
                    {{ form.location_longitude }}
                </div>
            </div>
        </div>

		<div class="row">
            <div class="col-xs-12 col-sm-4">
                {% if form.meta_license_name.errors %}<div class="alert alert-danger">{{ form.meta_license_name.errors }}</div>{% endif %}
                <div class="form-group">
                    {{ form.meta_license_name.label_tag }}
                    {{ form.meta_license_name }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                {% if form.branch_routing_scheme.errors %}<div class="alert alert-danger">{{ form.branch_routing_scheme.errors }}</div>{% endif %}
                <div class="form-group">
                    {{ form.branch_routing_scheme.label_tag }}
                    {{ form.branch_routing_scheme }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                {% if form.branch_routing_address.errors %}<div class="alert alert-danger">{{ form.branch_routing_address.errors }}</div>{% endif %}
                <div class="form-group">
                    {{ form.branch_routing_address.label_tag }}
                    {{ form.branch_routing_address }}
                </div>
            </div>
        </div>

		<div class="row">
            <div class="col-xs-12 col-sm-4">
                {% if form.is_accessible.errors %}<div class="alert alert-danger">{{ form.is_accessible.errors }}</div>{% endif %}
                <div class="form-group">
                    {{ form.is_accessible.label_tag }}
                    {{ form.is_accessible }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                {% if form.accessibleFeatures.errors %}<div class="alert alert-danger">{{ form.accessibleFeatures.errors }}</div>{% endif %}
                <div class="form-group">
                    {{ form.accessibleFeatures.label_tag }}
                    {{ form.accessibleFeatures }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                {% if form.more_info.errors %}<div class="alert alert-danger">{{ form.more_info.errors }}</div>{% endif %}
                <div class="form-group">
                    {{ form.more_info.label_tag }}
                    {{ form.more_info }}
                </div>
            </div>
        </div>

		<div class="row">
            <div class="col-xs-12 col-sm-4">
                {% if form.phone_number.errors %}<div class="alert alert-danger">{{ form.phone_number.errors }}</div>{% endif %}
                <div class="form-group">
                    {{ form.phone_number.label_tag }}
                    {{ form.phone_number }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-4">
                {% if form.address.errors %}<div class="alert alert-danger">{{ form.address.errors }}</div>{% endif %}
                <div class="form-group">
                    {{ form.address.label_tag }}
                    {{ form.address }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                {% if form.lobby.errors %}<div class="alert alert-danger">{{ form.lobby.errors }}</div>{% endif %}
                <div class="form-group">
                    {{ form.lobby.label_tag }}
                    {{ form.lobby }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                {% if form.drive_up.errors %}<div class="alert alert-danger">{{ form.drive_up.errors }}</div>{% endif %}
                <div class="form-group">
                    {{ form.drive_up.label_tag }}
                    {{ form.drive_up }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 hidden-xs">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-green">Add</button>
                </div>
            </div>
        </div>
    </form>

	<div class="table-responsive">
		<table class="table table-hover tablesorter" id="branches-list">
			<thead>
				<th>Branch Id</th>
				<th>Bank Id</th>
				<th>Branch Name</th>
				<th>More_info</th>
				<th>Update Button</th>
			</thead>
			<tbody>
			{% for branch in branches_list %}
				{% url 'branches_update' branch.id branch.bank_id as url_branch_update %}
				<tr data-branch-id="{{ branch.id }}">
					<td>{{ branch.id }}</td>
					<td>{{ branch.bank_id }}</td>
					<td>{{ branch.name }}</td>
                    <td>
                        <div class="popuptext">
                            <ul>
                                <li>Address:
                                    <ul>
                                        <li>line1: {{branch.address.line_1}}</li>
                                        <li>line2: {{branch.address.line_2}}</li>
                                        <li>line3: {{branch.address.line_3}}</li>
                                        <li>city: {{branch.address.city}}</li>
                                        <li>county: {{branch.address.county}}</li>
                                        <li>state: {{branch.address.state}}</li>
                                        <li>postcode: {{branch.address.postcode}}</li>
                                        <li>country_code: {{branch.address.country_code}}</li>
                                    </ul>
                                </li>
                                <li>Location:
                                    <ul>
                                        <li>latitude: {{branch.location.latitude}}</li>
                                        <li>longitude: {{branch.location.longitude}}</li>
                                    </ul>
                                </li>
                                <li>Meta License:
                                    <ul>
                                        <li>id: {{branch.meta.license.id}}</li>
                                        <li>name: {{branch.meta.license.name}}</li>
                                    </ul>
                                </li>
                                <li>Branch Routing
                                    <ul>
                                        <li>Scheme: {{branch.branch_routing.scheme}}</li>
                                        <li>Address: {{branch.branch_routing.address}}</li>
                                    </ul>
                                </li>
                                <li>Branch Type: {{branch.branch_type}}</li>
                                <li>More Info: {{branch.more_info}}</li>
                                <li>Phone Number: {{branch.phone_number}}</li>
                                <li>Accessible Features: {{branch.accessibleFeatures}}</li>
                            </ul>
                        </div>
                    </td>
					<td><a href="{{ url_branch_update }}" class="btn btn-primary">Update</a></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}

{% block extrajs %}
{% comment %}
	<script type="text/javascript" src="{% static 'branches/js/branches.js' %}"></script>
	<script type="text/javascript">
	</script>
{% endcomment %}
{% endblock extrajs %}


{% block extracss %}
		<link href="{% static 'branches/css/branches.css' %}" rel="stylesheet">
{% endblock extracss %}
