<a href="?time=minute&app_type={{ request.GET.app_type }}&enabled={{ request.GET.enabled }}" class="btn btn-default{% if active_time_minute %} active{% endif %}">Last Minute</a>
<a href="?time=hour&app_type={{ request.GET.app_type }}&enabled={{ request.GET.enabled }}" class="btn btn-default{% if active_time_hour %} active{% endif %}">Last Hour</a>
<a href="?time=day&app_type={{ request.GET.app_type }}&enabled={{ request.GET.enabled }}" class="btn btn-default{% if active_time_day %} active{% endif %}">Last Day</a>
<a href="?time=week&app_type={{ request.GET.app_type }}&enabled={{ request.GET.enabled }}" class="btn btn-default{% if active_time_week %} active{% endif %}">Last Week</a>
<a href="?time=month&app_type={{ request.GET.app_type }}&enabled={{ request.GET.enabled }}" class="btn btn-default{% if active_time_month %} active{% endif %}">Last Month</a>
<a href="?time=year&app_type={{ request.GET.app_type }}&enabled={{ request.GET.enabled }}" class="btn btn-default{% if active_time_year %} active{% endif %}">Last Year</a>
<a href="?time=All&app_type={{ request.GET.app_type }}&enabled={{ request.GET.enabled }}" class="btn btn-default{% if active_time_all %} active{% endif %}">All</a>
