{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block page_title %}{{ block.super }} / API Metrics{% endblock page_title %}

{% block content %}
<div id="metrics">
	<h1>{% trans "API Metrics" %}</h1>

    <div id="metrics-filter">
    	<h2>{% trans "Filter" %}</h2>
    	<form action="" method="get">
    		{% if form.non_field_errors %}
    		<div class="alert alert-danger">
    			{{ form.non_field_errors }}
    		</div>
    		{% endif %}

    		<div class="row">
    			<div class="col-xs-6 col-sm-3">
    				{% if form.from_date.errors %}<div class="alert alert-danger">{{ form.from_date.errors }}</div>{% endif %}
    				<div class="form-group">
						<strong>{% trans "from date" %} </strong>
    					{{ form.from_date }}
    				</div>
    			</div>
    			<div class="col-xs-6 col-sm-3">
    				{% if form.to_date.errors %}<div class="alert alert-danger">{{ form.to_date.errors }}</div>{% endif %}
    				<div class="form-group">
						<strong>{% trans "to_date" %} </strong>
    					{{ form.to_date }}
    				</div>
    			</div>
    			<div class="col-xs-6 col-sm-3">
    				{% if form.limit.errors %}<div class="alert alert-danger">{{ form.limit.errors }}</div>{% endif %}
    				<div class="form-group">
						<strong>{% trans "limit" %} </strong>
    					{{ form.limit }}
    				</div>
    			</div>
    			<div class="col-xs-6 col-sm-3">
    				{% if form.offset.errors %}<div class="alert alert-danger">{{ form.offset.errors }}</div>{% endif %}
    				<div class="form-group">
						<strong>{% trans "offset" %} </strong>
    					{{ form.offset }}
    				</div>
    			</div>
    		</div>

    		<div class="row">
    			<div class="col-xs-6 col-sm-3">
    				{% if form.consumer_id.errors %}<div class="alert alert-danger">{{ form.consumer_id.errors }}</div>{% endif %}
    				<div class="form-group">
						<strong>{% trans "consumer id" %} </strong>
    					{{ form.consumer_id }}
    				</div>
    			</div>

    			<div class="col-xs-6 col-sm-3">
    				{% if form.user_id.errors %}<div class="alert alert-danger">{{ form.user_id.errors }}</div>{% endif %}
    				<div class="form-group">
						<strong>{% trans "user_id" %} </strong>
    					{{ form.user_id }}
    				</div>
    			</div>

    			<div class="col-xs-6 col-sm-3">
    				{% if form.anon.errors %}<div class="alert alert-danger">{{ form.anon.errors }}</div>{% endif %}
    				<div class="form-group">
						<strong>{% trans "anon" %} </strong>
    					{{ form.anon }}
    				</div>
    			</div>

    			<div class="col-xs-6 col-sm-3">
    				{% if form.app_name.errors %}<div class="alert alert-danger">{{ form.app_name.errors }}</div>{% endif %}
    				<div class="form-group">
						<strong>{% trans "app_name" %} </strong>
    					{{ form.app_name }}
    				</div>
    			</div>

    		</div>

    		<div class="row">
    			<div class="col-xs-2">
    				{% if form.verb.errors %}<div class="alert alert-danger">{{ form.verb.errors }}</div>{% endif %}
    				<div class="form-group">
						<strong>{% trans "verb" %} </strong>
    					{{ form.verb }}
    				</div>
    			</div>

    			<div class="col-xs-10">
    				{% if form.url.errors %}<div class="alert alert-danger">{{ form.url.errors }}</div>{% endif %}
    				<div class="form-group">
						<strong>{% trans "url" %} </strong>
    					{{ form.url }}
    				</div>
    			</div>
    		</div>

    		<div class="row">
    			<div class="col-xs-7">
    				{% if form.implemented_by_partial_function.errors %}<div class="alert alert-danger">{{ form.implemented_by_partial_function.errors }}</div>{% endif %}
    				<div class="form-group">
						<strong>{% trans "implemented by partial function" %} </strong>
    					{{ form.implemented_by_partial_function }}
    				</div>
    			</div>

    			<div class="col-xs-5">
    				{% if form.implemented_in_version.errors %}<div class="alert alert-danger">{{ form.implemented_in_version.errors }}</div>{% endif %}
    				<div class="form-group">
						<strong>{% trans "implemented in version" %} </strong>
    					{{ form.implemented_in_version }}
    				</div>
    			</div>
    		</div>


    		<button type="submit" class="btn btn-primary">{% trans "Update filter" %}</button>
    	</form>
    </div>

    <div id="metrics-data">
    	<ul class="nav nav-tabs">
    	{% block nav_tabs %}
    		<li class="active"><a href="{% url 'api-metrics' %}?{{ request.GET.urlencode }}">{% trans "List" %}</a></li>
    		<li><a href="{% url 'api-metrics-summary-partial-function' %}?{{ request.GET.urlencode }}">{% trans "Summary by Partial Function" %}</a></li>
    	{% endblock nav_tabs %}
    	</ul>

    	<div class="tab-content">
    		{% block tab_content %}
    		<div class="tab-pane active">
    			<div class="table-responsive">
    				<table class="table table-hover tablesorter" aria-describedby="api list">
    					<thead>
    					<tr>
    						<th scope="col">#</th>
    						<th scope="col">{% trans "Verb" %}</th>
    						<th scope="col">{% trans "URL" %}</th>
    						<th scope="col">{% trans "Date" %}</th>
							<th scope="col">{% trans "Duration(ms)" %}</th>
    						<th scope="col">{% trans "Details" %}</th>
    					</tr>
    					</thead>
    					<tbody>
    					{% for metric in metrics %}
    						<tr>
    							<td>{{ forloop.counter }}</td>
    							<td>{{ metric.verb }}</td>
    							<td>
    								{{ metric.url }}
    							</td>
    							<td>{{ metric.date|date:"Y-m-d H:i:s.u" }}</td>
								<td>{{ metric.duration }}</td>
    							<td>
    								<ul>
    									<li>{% trans "User Name" %}: {{ metric.user_name }}</li>
    									<li>{% trans "User ID" %}: {{ metric.user_id }}</li>
    									<li>{% trans "Developer Email" %}: {{ metric.developer_email }}</li>
    									<li>{% trans "App Name" %}: {{ metric.app_name }}</li>
    									<li>{% trans "Consumer ID" %}: {{ metric.consumer_id }}</li>
    									<li>{% trans "Implemented by Partial Function" %}: {{ metric.implemented_by_partial_function }}</li>
    									<li>{% trans "Implemented In Version" %}: {{ metric.implemented_in_version }}</li>
    								</ul>
    							</td>
    						</tr>
    					{% endfor %}
    					</tbody>
    				</table>
    			</div>
    		</div>
    		{% endblock tab_content %}
    	</div>
    </div>

</div>
{% endblock %}

{% block extracss %}
		<link href="{% static 'metrics/css/metrics.css' %}" rel="stylesheet">
{% endblock extracss %}
