{% extends 'base.html' %}
{% load static %}

{% block page_title %}{{ block.super }} / API Usage Report{% endblock page_title %}

{% block content %}

<div id="metrics">
	<h1>API Usage Report</h1>
	<h2>API instance : {{ api_host_name }}</h2>



    <div id="metrics-data">
    	<ul class="nav nav-tabs">
    	{% block nav_tabs %}
    		<li><a href="{% url 'yearly-summary' %}?{{ request.GET.urlencode }}">Year</a></li>
			<li><a href="{% url 'quarterly-summary' %}?{{ request.GET.urlencode }}">Quarter</a></li>
			<li class="active"><a href="{% url 'metrics-summary' %}?{{ request.GET.urlencode }}">Month</a></li>
    		<li><a href="{% url 'weekly-summary' %}?{{ request.GET.urlencode }}">Week</a></li>
			<li><a href="{% url 'daily-summary' %}?{{ request.GET.urlencode }}">Day</a></li>
			<!--<li><a href="{% url 'hourly-summary' %}?{{ request.GET.urlencode }}">Hour</a></li>-->
			<li><a href="{% url 'custom-summary' %}?{{ request.GET.urlencode }}">Custom</a></li>
    	{% endblock nav_tabs %}
    	</ul>

	<div id="metrics-filter">

		<!--{% load bootstrap3 %}       {# import bootstrap4/bootstrap3 #}-->
		<!--{% bootstrap_css %}         {# Embed Bootstrap CSS #}-->
		{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}

		{% block extrahead %}       {# Extra Resources Start #}
		{{ form.media }}            {# Form required JS and CSS #}
		{% endblock %}

		<h2>Filter</h2>
		<form action="{% url 'metrics-summary' %}" method="get">
			{% if form.non_field_errors %}
			<div class="alert alert-danger">
				{{ form.non_field_errors }}
			</div>
			{% endif %}

			<div class="row">

				<div class="col-xs-6 col-sm-3">
					{% if form.to_date.errors %}<div class="alert alert-danger">{{ form.to_date.errors }}</div>{% endif %}
					<div class="form-group">
						{{ form.to_date.label_tag }}
						{{ form.to_date }}
					</div>
				</div>

				<div class="col-xs-6 col-sm-3">
					<div class="form-group">
						{{ form.include_obp_apps }} Include System Calls
						{{ excluded_functions }}
						{{ excluded_url_pattern }}
					</div>
					{% if excluded_apps %}
						{{ excluded_apps }}
					{% endif %}
				</div>

			</div>
			<button type="submit" class="btn btn-primary">Update filter</button>
		</form>

	</div>

    	<div class="tab-content">
    		{% block tab_content %}
    		<div class="tab-pane active">
    			<h2>Period : From {{ from_date }} to {{ to_date }}</h2>

		<table border="1">
			<tr>
				<td>Total API calls:</td>
				<td>{{ api_calls }}</td>
			</tr>
			<tr>
				<td>API calls made using API Explorer:</td>
				<td>{{ calls_by_api_explorer }} ({% widthratio calls_by_api_explorer api_calls 100 %} %)</td>
			</tr>

			<tr>
				<td>Calls per day:</td>
				<td><img src="data:image/png;base64, {{ per_day_chart }}" alt="somealt" /></td>
			</tr>
			<tr>
				<td>Average number of calls per day: </td>
				<td>{{ average_calls_per_day }}</td>
			</tr>
			<tr>
				<td>Average response time (ms):</td>
				<td>{{ average_response_time }}</td>
			</tr>
			<tr>
				<td>Median time from consumer registration to first API call:</td>
				<td>{{ median_time_to_first_api_call }}</td>
			</tr>

			<tr>
				<td>Apps with distinct names:</td>
				<td>{{ number_of_apps_with_unique_app_name }}</td>
			</tr>
			<tr>
				<td>Distinct developer email addresses:</td>
				<td>{{ number_of_apps_with_unique_developer_email }}</td>
			</tr>

			<tr>
				<td>Active Apps (at least one API call in the period):</td>
				<td>{%for item in active_apps_list%} <p>{{item.app_name}} ({{ item.developer_email }})</p> {% endfor %}</td>
			</tr>
			<tr>
				<td>Top 10 APIs:</td>
				<td><img src="data:image/png;base64, {{ top_apis_bar_chart }}" alt="somealt" /></td>
			</tr>
			<tr>
				<td>Top Warehouse APIs:</td>
				<td>{% if top_warehouse_apis %}{%for element in top_warehouse_apis%} <p>{{ element.Implemented_by_partial_function }} : {{ element.count }}</p> {% endfor %}{% else %} <p>N/A</p>{% endif %}</td>
			</tr>
			<tr>
				<td>Top Apps using data warehouse:</td>
				<td>{% if top_apps_using_warehouse %}{%for element in top_apps_using_warehouse%} <p>{{ element.app_name }} ({{ element.developer_email }}) : {{ element.count }}</p> {% endfor %}{% else %} <p>N/A</p>{% endif %}</td>
			</tr>
			<tr>
				<td>Total number of CanSearchWarehouse users:</td>
				<td>{{number_of_users_with_cansearchwarehouse}}</td>
			</tr>

			<tr>
				<td>Users with role CanSearchWarehouse:</td>
				<td>{% if user_email_cansearchwarehouse %}{% for key, value in user_email_cansearchwarehouse.items %} {{key}}, {% endfor %}{% else %} <p>N/A</p>{% endif %}</td>
			</tr>

		</table>
    		</div>
    		{% endblock tab_content %}
    	</div>
    </div>

</div>

{% endblock %}

{% block extracss %}
		<link href="{% static 'metrics/css/metrics.css' %}" rel="stylesheet">
{% endblock extracss %}