{% load i18n %}
<a href="?time=hour" class="btn btn-default{% if active_time_hour %} active{% endif %}">{% trans "Last Hour" %}</a>
<a href="?time=day" class="btn btn-default{% if active_time_day %} active{% endif %}">{% trans "Last Day" %}</a>
<a href="?time=week" class="btn btn-default{% if active_time_week %} active{% endif %}">{% trans "Last Week" %}</a>
<a href="?time=month" class="btn btn-default{% if active_time_month %} active{% endif %}">{% trans "Last Month" %}</a>
<a href="?time=year" class="btn btn-default{% if active_time_year %} active{% endif %}">{% trans "Last Year" %}</a>
<a href="?time=All" class="btn btn-default{% if active_time_all %} active{% endif %}">{% trans "All" %}</a>
