{% extends 'base.html' %}
{% load static %}

{% block page_title %}{{ block.super }} / {{ apiuser.username }}{% endblock page_title %}

{% block content %}
<div id="users-detail">
	<h1>User {{ apiuser.username }}</h1>

	<div id="users-detail-user_id">
		<strong>User ID</strong><br />
		<span>{{ apiuser.user_id }}</span>
	</div>

	<div id="users-detail-email">
		<strong>Email</strong><br />
		<span>{{ apiuser.email }}</span>
	</div>

	<div id="users-detail-provider">
		<strong>Provider</strong><br />
		<span>{{ apiuser.provider }}</span>
	</div>

	<div id="users-detail-provider_id">
		<strong>Provider ID</strong><br />
		<span>{{ apiuser.provider_id }}</span>
	</div>


{% if apiuser.user_id %}
	<div id="users-detail-entitlements">
		<h2>Add Entitlement</h2>
		<form class="form-inline" action="{% url 'users-add-entitlement' apiuser.user_id %}" method="post">
			{% csrf_token %}
			<input type="hidden" name="next" value="{{ request.path }}" />
			<div class="form-group">
				<label for="users-detail-entitlement-role_name">Role name</label> <input type="text" class="form-control" name="role_name" id="users-detail-entitlements-role_name" aria-label="active" />
			</div>
			<div class="form-group">
				<label for="users-detail-entitlement-bank_id">Bank Id</label> <input type="text" class="form-control" name="bank_id" id="users-detail-entitlement-bank_id" aria-label="active" placeholder="Empty if not bank-specific"/>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-green">Add</a>
			</div>
		</form>

		<h2>Entitlements</h2>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<th>Role name</th>
					<th>Bank Id</th>
					<th>Action</th>
				</thead>
				<tbody>
				{% for entitlement in apiuser.entitlements %}
					<tr>
						<td>{{ entitlement.role_name }}</td>
						<td>{{ entitlement.bank_id }}</td>
						<td>
						{# SuperAdmin has no entitlement_id! #}
						{% if entitlement.entitlement_id %}
							<form action="{% url 'users-delete-entitlement' apiuser.user_id entitlement.entitlement_id %}" method="post">
								{% csrf_token %}
								<input type="hidden" name="next" value="{{ request.path }}" />
								<input type="hidden" name="role_name" value="{{ entitlement.role_name }}" />
								<button type="submit" class="btn btn-primary btn-red">Delete</button>
							</form>
						{% endif %}
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endif %}
</div>
{% endblock %}

{% block extrajs %}
{% comment %}
	<script type="text/javascript" src="{% static 'users/js/users.js' %}"></script>
	<script type="text/javascript">
	</script>
{% endcomment %}
{% endblock extrajs %}


{% block extracss %}
		<link href="{% static 'users/css/users.css' %}" rel="stylesheet">
{% endblock extracss %}
