{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block page_title %}{{ block.super }} / Users{% endblock page_title %}

{% block content %}
    <div id="user-invitation">
        <h1>{% trans "Invite Developer" %}</h1>

        <form action="{% url 'my-user-invitation' %}" method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    {% if form.bank_id.errors %}<div class="alert alert-danger">{{ form.bank_id.errors }}</div>{% endif %}
                    <div class="form-group">
                        {{ form.bank_id.label_tag }}
                        {{ form.bank_id }}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    {% if form.first_name.errors %}<div class="alert alert-danger">{{ form.first_name.errors }}</div>{% endif %}
                    <div class="form-group">
                        {{ form.first_name.label_tag }}
                        {{ form.first_name }}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    {% if form.last_name.errors %}<div class="alert alert-danger">{{ form.last_name.errors }}</div>{% endif %}
                    <div class="form-group">
                        {{ form.last_name.label_tag }}
                        {{ form.last_name }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    {% if form.email.errors %}<div class="alert alert-danger">{{ form.email.errors }}</div>{% endif %}
                    <div class="form-group">
                        {{ form.email.label_tag }}
                        {{ form.email }}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    {% if form.company.errors %}<div class="alert alert-danger">{{ form.company.errors }}</div>{% endif %}
                    <div class="form-group">
                        {{ form.company.label_tag }}
                        {{ form.company }}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    {% if form.country.errors %}<div class="alert alert-danger">{{ form.country.errors }}</div>{% endif %}
                    <div class="form-group">
                        {{ form.country.label_tag }}
                        {{ form.country }}
                    </div>
                </div>
            </div>

            <input type="submit" value="Create" class="btn btn-primary" />
            <div class="table-responsive">
                <table class="table table-hover tablesorter" id="invitation-list" aria-describedby="invitation list">
                    <thead>
                    <th scope="col">{% trans "First Name" %}</th>
                    <th scope="col">{% trans "Last Name" %}</th>
                    <th scope="col">{% trans "Email" %}</th>
                    <th scope="col">{% trans "company" %}</th>
                    <th scope="col">{% trans "country" %}</th>
                    <th scope="col">{% trans "status" %}</th>
                    </thead>
                    <tbody>
                    {% for invitation in invitations %}
                        <tr>
                            <td>{{ invitation.first_name }}</td>
                            <td>{{ invitation.last_name }}</td>
                            <td>{{ invitation.email }}</td>
                            <td>{{ invitation.company }}</td>
                            <td>{{ invitation.country }}</td>
                            <td>{{ invitation.status }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </form>
    </div>
{% endblock content %}


{% block extrajs %}
{% endblock extrajs %}

{% block extracss %}
    <link href="{% static 'users/css/users.css' %}" rel="stylesheet">
{% endblock extracss %}
