{% extends 'base.html' %}
{% load humanize static %}
{% load i18n %}

{% block page_title %}{{ block.super }} / Consumer {{ consumer.app_name }}{% endblock page_title %}

{% block content %}
<div id="consumers-detail">
	<h1>{% trans "Consumer" %} {{ consumer.app_name }}</h1>


    <div class="row">
        <div class="col-xs-12">

            <h2>{% trans "Params" %}</h2>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.consumer_id }}
                {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}

                <div class="row">
                    <div class="col-xs-2 col-sm-2">
                        {% if form.per_minute_call_limit.errors %}<div class="alert alert-danger">{{ form.per_minute_call_limit.errors }}</div>{% endif %}
                        <div class="form-group">
                            {{ form.per_minute_call_limit.label_tag }}
                            {{ form.per_minute_call_limit }}
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-2">
                        {% if form.per_hour_call_limit.errors %}<div class="alert alert-danger">{{ form.per_hour_call_limit.errors }}</div>{% endif %}
                        <div class="form-group">
                            {{ form.per_hour_call_limit.label_tag }}
                            {{ form.per_hour_call_limit }}
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-2">
                        {% if form.per_day_call_limit.errors %}<div class="alert alert-danger">{{ form.per_day_call_limit.errors }}</div>{% endif %}
                        <div class="form-group">
                            {{ form.per_day_call_limit.label_tag }}
                            {{ form.per_day_call_limit }}
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-2">
                        {% if form.per_week_call_limit.errors %}<div class="alert alert-danger">{{ form.per_week_call_limit.errors }}</div>{% endif %}
                        <div class="form-group">
                            {{ form.per_week_call_limit.label_tag }}
                            {{ form.per_week_call_limit }}
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-2">
                        {% if form.per_month_call_limit.errors %}<div class="alert alert-danger">{{ form.per_month_call_limit.errors }}</div>{% endif %}
                        <div class="form-group">
                            {{ form.per_month_call_limit.label_tag }}
                            {{ form.per_month_call_limit }}
                        </div>
                    </div>
                </div>


                <button type="submit" class="btn btn-primary">{% trans "Update Consumer" %}</button>
            </form>
        </div>
    </div>
	<div class="row">
		<div class="col-xs-12">
			<div id="consumers-detail-consumer_id">
				<strong>ID</strong><br />
				<span>{{ consumer.consumer_id }}</span>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<div id="consumers-detail-app_name">
				<strong>{% trans "App Name" %}</strong><br />
				<span>{{ consumer.app_name }}</span>
			</div>
		</div>

		<div class="col-xs-12 col-sm-6">
			<div id="consumers-detail-app_type">
				<strong>{% trans "App Type" %}</strong><br />
				<span>{{ consumer.app_type }}</span>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<div id="consumers-detail-developer_email">
				<strong>{% trans "Developer Email" %}</strong><br />
				<span>{{ consumer.developer_email }}</span>
			</div>
		</div>

		<div class="col-xs-12 col-sm-6">
			<div id="consumers-detail-user_email">
				<strong>{% trans "User Email" %}</strong><br />
				<span>{% if consumer.created_by_user.user_id %}<a href="{% url 'users-detail' consumer.created_by_user.user_id %}">{{ consumer.created_by_user.email }}</a>{% else %}{{ consumer.created_by_user.email }}{% endif %}</span>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<div id="consumers-detail-created">
				<strong>{% trans "Created" %}</strong><br />
				<span>{{ consumer.created|naturaltime }}</span>
			</div>
		</div>

		<div class="col-xs-12 col-sm-6">
			<div id="consumers-detail-created_by_user_id">
				<strong>{% trans "Created By User ID" %}</strong><br />
				<span>{{ consumer.created_by_user_id }}</span>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-6 col-sm-6">
			<div id="consumers-detail-redirect_url">
				<strong>{% trans "Redirect URL" %}</strong><br />
				<span>{{ consumer.redirect_url }}</span>
			</div>
		</div>
        <div class="col-xs-6 col-sm-6">
            <div id="consumers-per_minute_call_limit ">
                <strong>{% trans "Per minute call limit" %}</strong><br />
                <span>{{ consumer.per_minute_call_limit }}</span>
            </div>
        </div>
	</div>

    <div class="row">
        <div class="col-xs-6 col-sm-6">
            <div id="consumers-per_hour_call_limit ">
                <strong>{% trans "Per hour call limit" %} </strong><br />
                <span>{{ consumer.per_hour_call_limit }}</span>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6">
            <div id="consumers-per_day_call_limit">
                <strong>{% trans "Per day call limit" %}</strong><br />
                <span>{{ consumer.per_day_call_limit }}</span>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-6 col-sm-6">
            <div id="consumers-per_week_call_limit">
                <strong>{% trans "Per week call limit" %}</strong><br />
                <span>{{ consumer.per_week_call_limit }}</span>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6">
            <div id="consumers-per_month_call_limit">
                <strong>{% trans "Per month call limit" %}</strong><br />
                <span>{{ consumer.per_month_call_limit }}</span>
            </div>
        </div>
    </div>


	<div class="row">
		<div class="col-xs-12">
			<div id="consumers-detail-description">
				<strong>{% trans "Description" %}</strong><br />
				<div class="well">{{ consumer.description }}</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div id="consumers-detail-enable">
				{% if consumer.enabled %}
					{% url 'consumers-disable' consumer.consumer_id as url_action %}
				{% else %}
					{% url 'consumers-enable' consumer.consumer_id as url_action %}
				{% endif %}
				<form action="{{ url_action }}" method="post">
					{% csrf_token %}
					<input type="hidden" name="next" value="{{ request.path }}" />
					<div class="form-group">
					{% if consumer.enabled %}
						<button type="submit" class="btn btn-primary btn-red">{% trans "Disable" %}</a>
					{% else %}
						<button type="submit" class="btn btn-primary btn-green">{% trans "Enable" %}</a>
					{% endif %}
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block extrajs %}
{% comment %}
	<script type="text/javascript" src="{% static 'consumers/js/consumers.js' %}"></script>
	<script type="text/javascript">
	</script>
{% endcomment %}
{% endblock extrajs %}


{% block extracss %}
		<link href="{% static 'consumers/css/consumers.css' %}" rel="stylesheet">
{% endblock extracss %}
