{% extends 'base.html' %}
{% load humanize static %}

{% block page_title %}{{ block.super }} / Consumers{% endblock page_title %}

{% block content %}
<div id="consumers">
	<h1>Consumers</h1>

	<div class="row">
		<div class="col-xs-12 col-md-6">
			<div id="filter-time" class="filter">
				<div class="btn-group hidden-sm hidden-xs filter-time" role="group" aria-label="filter-time">
					{% include "consumers/includes/filter_time.html" %}
				</div>
				<div class="btn-group-vertical visible-sm visible-xs filter-time" role="group" aria-label="filter-time">
					{% include "consumers/includes/filter_time.html" %}
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-md-3">
			<div id="filter-enabled" class="filter">
				<div class="btn-group hidden-sm hidden-xs filter-enabled" role="group" aria-label="filter-enabled">
					{% include "consumers/includes/filter_enabled.html" %}
				</div>
				<div class="btn-group-vertical visible-sm visible-xs filter-enabled" role="group" aria-label="filter-enabled">
					{% include "consumers/includes/filter_enabled.html" %}
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-md-3">
			<div id="filter-apptype" class="filter">
				<div class="btn-group hidden-sm hidden-xs filter-apptype" role="group" aria-label="filter-apptype">
					{% include "consumers/includes/filter_apptype.html" %}
				</div>
				<div class="btn-group-vertical visible-sm visible-xs filter-apptype" role="group" aria-label="filter-apptype">
					{% include "consumers/includes/filter_apptype.html" %}
				</div>
			</div>
		</div>
	</div>

	<h2>Statistics</h2>
	<ul id="statistics">
		<li>Total number of consumers: {{ statistics.consumers_num }}</li>
		<li>Total number of unique developer email addresses: {{ statistics.unique_developer_email_num }}</li>
		<li>Total number of unique consumer names: {{ statistics.unique_name_num }}</li>
	</ul>

	<div class="table-responsive">
		<table class="table table-hover tablesorter" id="consumer-list">
			<thead>
				<th>ID</th>
				<th>Name</th>
				<th>Description</th>
				<th>Created</th>
				<th>Action</th>
			</thead>

			<tbody>
			{% for consumer in consumers %}
			<tr class="consumer-row {% if consumer.enabled %}consumer-enabled{% else %}consumer-disabled{% endif %}" data-consumer-id="{{ consumer.consumer_id }}">
				{% url 'consumers-detail' consumer.consumer_id as url_detail %}
				<td>{{ consumer.consumer_id }}</td>
				<td class="select"><a href="{{ url_detail }}">{{ consumer.app_name }}</a></td>
				<td class="select">{{ consumer.description|truncatechars:80 }}</td>
				<td class="select">{{ consumer.created|naturaltime }}</td>
				<td class="actions">
					<form action="{% if consumer.enabled %}{% url 'consumers-disable' consumer.consumer_id %}{% else %}{% url 'consumers-enable' consumer.consumer_id %}{% endif %}?{{ request.GET.urlencode }}" method="post">
						{% csrf_token %}
						{% if consumer.enabled %}<button class="btn btn-primary btn-sm btn-red">Disable</button>{% else %}<button class="btn btn-primary btn-green btn-sm">Enable</button>{% endif %}
							<a href="{{ url_detail }}" class="btn btn-primary btn-sm" role="button">View</a>
					</form>
				</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>


</div>
{% endblock content %}



{% block extrajs %}
{% comment %}
	<script type="text/javascript" src="{% static 'consumers/js/consumers.js' %}"></script>
	<script type="text/javascript">
	</script>
{% endcomment %}

{% endblock extrajs %}


{% block extracss %}
		<link href="{% static 'consumers/css/consumers.css' %}" rel="stylesheet">
{% endblock extracss %}
