{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="An application consuming the Open Bank Project API to manage consumers, users, customers, metrics and config">
		<meta name="author" content="TESOBE, Sebastian Henschel">
		<title>{% block page_title %}API Manager{% endblock page_title %}</title>
		<link rel="icon" type="image/png" href="{% static 'img/favicon.ico' %}" />
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'css/base.css' %}" rel="stylesheet">
		{% block extracss %}{% endblock extracss %}
	</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{% url 'home' %}"><img src="https://static.openbankproject.com/images/OBP/favicon.png" alt="brand" /></a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					{% url "consumers-index" as consumers_index_url %}
					<li{% if consumers_index_url in request.path  %} class="active"{% endif %}><a href="{{ consumers_index_url }}">Consumers</a></li>
					{% url "entitlementrequests-index" as entitlementrequests_index_url %}
					<li{% if entitlementrequests_index_url in request.path  %} class="active"{% endif %}><a href="{{ entitlementrequests_index_url }}">Entitlement Requests</a></li>
					{% url "users-index" as users_index_url %}
					{% url 'my-user-detail' API_USER_ID as url_users_detail %}
					<li class="dropdown{% if users_index_url in request.path or url_users_detail in request.path %} active{% endif %}">
						<a href="#" data-toggle="dropdown" class="dropdown-toggle">Users</a>
						<ul class="dropdown-menu">
							<li{% if users_index_url in request.path  %} class="active"{% endif %}><a href="{{ users_index_url }}">All</a></li>
							<li{% ifequal request.path url_users_detail  %} class="active" {% endifequal %}><a href="{{ url_users_detail }}">My User</a></li>
						</ul>
					</li>
					{% url "api-metrics" as api_metrics_url %}
					{% url "connector-metrics" as connector_metrics_url %}
					{% url "metrics-summary" as metrics_summary_url %}
					<li class="dropdown{% if api_metrics_url in request.path or connector_metrics_url in request.path or metrics_summary_url in request.path %} active{% endif %}">
						<a href="#" data-toggle="dropdown" class="dropdown-toggle">Metrics</a>
						<ul class="dropdown-menu">
							<li{% if api_metrics_url in request.path  %} class="active"{% endif %}><a href="{{ api_metrics_url }}">API Metrics</a></li>
							<li{% if connector_metrics_url in request.path  %} class="active"{% endif %}><a href="{{ connector_metrics_url }}">Connector Metrics</a></li>
							<li{% if metrics_summary_url in request.path  %} class="active"{% endif %}><a href="{{ metrics_summary_url }}">KPI Dashboard</a></li>
						</ul>
					</li>
					{% url "branches_list" as branches_list_url %}
					{% url "customers-create" as customers_create_url %}
					<li class="dropdown{% if customers_create_url in request.path %} active{% endif %}">
						<a href="#" data-toggle="dropdown" class="dropdown-toggle">Resources</a>
						<ul class="dropdown-menu">
							<li{% if customers_create_url in request.path  %} class="active"{% endif %}><a href="{{ customers_create_url }}">Customers</a></li>
							<li{% if branches_list_url in request.path  %} class="active"{% endif %}><a href="{{ branches_list_url }}">Branches</a></li>
						</ul>
					</li>
					{% url "config-index" as config_index_url %}
					<li{% ifequal request.path config_index_url %} class="active" {% endifequal %}><a href="{{ config_index_url }}">Config</a></li>
					{% url "webui-index" as webui_props_index_url %}
					<li{% ifequal request.path webui_props_index_url %} class="active" {% endifequal %}><a href="{{ webui_props_index_url }}">Webui Props</a></li>
				{% if API_TESTER_URL %}
					<li>
						<p class="navbar-btn"><a href="{{ API_TESTER_URL }}" class="btn btn-default">Go to API Tester</a></p>
					</li>
				{% endif %}
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li>
{% if user.is_authenticated %}
                    <p class="navbar-btn"><a href="{% url 'oauth-logout' %}" class="btn btn-default">Logout {{ API_USERNAME }}</a></p>
{% endif %}
					</li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</nav>

{% if messages %}
	<div class="container messages">
	{% for message in messages %}
	<div class="alert alert-dismissible{% ifequal message.tags "error" %} alert-danger{% else %}{% ifequal message.tags "debug" %} alert-info{% else %} alert-{{ message.tags }}{% endifequal %}{% endifequal %}" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			{{ message }}
		</div>
	{% endfor %}
	</div>
{% endif %}

	<div class="container">
{% block content %}{% endblock content %}
	</div>

	<footer>
		<div class="container">
			<p class="text-muted">
				<a title="API ROOT" href="{{ API_ROOT }}">API ROOT: {{ API_ROOT }}</a> |
				<a title="Open Bank Project" href="https://openbankproject.com">Open Bank Project</a> |
				Powered by <a title="TESOBE" href="http://tesobe.com">TESOBE</a> |
				<small>Copyright &copy; 2016 - 2017</small>
			</p>
		</div>
	</footer>

	<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.tablesorter.min.js' %}"></script>
	<script src="{% static 'js/base.js' %}"></script>
{% block extrajs %}{% endblock extrajs %}
</body>
</html>
