{% extends 'base.html' %}

{% block content %}
<div class="home">
	<h1>Welcome to API Manager</h1>

	<div class="well" id="intro">
		<p>
		This app gives you access to management functionality for the sandbox at <a href="{{ API_HOST }}">{{ API_HOST }}</a>. You have to <a href="{{ API_HOST }}/user_mgt/sign_up" title="Register at {{ API_HOST }}">register</a> an account before being able to proceed. The logged-in user needs to have specific roles granted to use the functionality.
		</p>
	</div>


{% if not user.is_authenticated %}
	<div id="login">
		<h2>Please authenticate</h2>
		<p>
			<a class="btn btn-primary" href="{% url 'oauth-initiate' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}">Initiate OAuth authentication with API</a>
		</p>
	</div>
{% else %}
	<div id="loggedin">
		<h2>Thanks for logging in!</h2>
		<p>Please select one of the items in the navigation above.</p>
	</div>
{% endif %}

	<div id="logo-full" class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-10">
			<a href="https://openbankproject.com"><img class="img-responsive" src="https://static.openbankproject.com/images/OBP/OBP_full_web.png" alt="OBP logo" /></a>
		</div>
		<div class="col-xs-1"></div>
	</div>
</div>
{% endblock %}
