{% extends 'base.html' %} {% load static %} {% load i18n %}  {% block page_title %}{{ block.super }} / Account{% endblock page_title %} {% block content %}
<div id="accounts">
    <h1>{% trans "Account Create" %}</h1>

    <form method="post">
        {% csrf_token %} {% if form.non_field_errors %}
        <div class="alert alert-danger">{{ form.non_field_errors }}</div>
        {% endif %}
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                {% if form.account_id.errors %}
                <div class="alert alert-danger">{{ form.account_id.errors }}</div>
                {% endif %}
                <div class="form-group">
                    {{ form.account_id.label_tag }} {{ form.account_id }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                {% if form.user_id.errors %}
                <div class="alert alert-danger">{{ form.user_id.errors }}</div>
                {% endif %}
                <div class="form-group">
                    {{ form.user_id.label_tag }} {{ form.user_id }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                {% if form.label.errors %}
                <div class="alert alert-danger">{{ form.label.errors }}</div>
                {% endif %}
                <div class="form-group">
                    {{ form.label.label_tag }} {{ form.label }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                {% if form.product_code.errors %}
                <div class="alert alert-danger">
                    {{ form.product_code.errors }}
                </div>
                {% endif %}
                <div class="form-group">
                    {{ form.product_code.label_tag }} {{ form.product_code }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                {% if form.balance_currency.errors %}
                <div class="alert alert-danger">
                    {{ form.balance_currency.errors }}
                </div>
                {% endif %}
                <div class="form-group">
                    {{ form.balance_currency.label_tag }} {{ form.balance_currency }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                {% if form.balance_amount.errors %}
                <div class="alert alert-danger">
                    {{ form.balance_amount.errors }}
                </div>
                {% endif %}
                <div class="form-group">
                    {{ form.balance_amount.label_tag }} {{ form.balance_amount }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                {% if form.branch_id.errors %}
                <div class="alert alert-danger">{{ form.branch_id.errors }}</div>
                {% endif %}
                <div class="form-group">
                    {{ form.branch_id.label_tag }} {{ form.branch_id }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                {% if form.account_routings_scheme.errors %}
                <div class="alert alert-danger">
                    {{ form.account_routings_scheme.errors }}
                </div>
                {% endif %}
                <div class="form-group">
                    {{ form.account_routings_scheme.label_tag }} {{ form.account_routings_scheme }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                {% if form.account_routings_address.errors %}
                <div class="alert alert-danger">{{ form.account_routings_address.errors }}</div>
                {% endif %}
                <div class="form-group">
                    {{ form.account_routings_address.label_tag }} {{ form.account_routings_address }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                {% if form.account_attributes_product_code.errors %}
                <div class="alert alert-danger">
                    {{ form.account_attributes_product_code.errors }}
                </div>
                {% endif %}
                <div class="form-group">
                    {{ form.account_attributes_product_code.label_tag }} {{ form.account_attributes_product_code }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                {% if form.account_attributes_id.errors %}
                <div class="alert alert-danger">{{ form.account_attributes_id.errors }}</div>
                {% endif %}
                <div class="form-group">
                    {{ form.account_attributes_id.label_tag }} {{ form.account_attributes_id }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                {% if form.account_attributes_name.errors %}
                <div class="alert alert-danger">{{ form.account_attributes_name.errors }}</div>
                {% endif %}
                <div class="form-group">
                    {{ form.account_attributes_name.label_tag }} {{ form.account_attributes_name }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                {% if form.bank_id.errors %}
                <div class="alert alert-danger">{{ form.bank_id.errors }}</div>
                {% endif %}
                <div class="form-group">
                    {{ form.bank_id.label_tag }} {{ form.bank_id }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                {% if form.account_attributes_value.errors %}
                <div class="alert alert-danger">
                    {{ form.account_attributes_value.errors }}
                </div>
                {% endif %}
                <div class="form-group">
                    {{ form.account_attributes_value.label_tag }} {{ form.account_attributes_value }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                {% if form.account_attributes_instance_code.errors %}
                <div class="alert alert-danger">
                    {{ form.account_attributes_instance_code.errors }}
                </div>
                {% endif %}
                <div class="form-group">
                    {{ form.account_attributes_instance_code.label_tag }} {{ form.account_attributes_instance_code }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 hidden-xs">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-green">
                        {% trans "Add" %}
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %} {% block extrajs %} {% endblock extrajs %} {% block extracss %}
<link href="{% static 'atms/css/atms.css' %}" rel="stylesheet"/> {% endblock extracss %}
