{% extends 'base.html' %}
{% load humanize static %}

{% block page_title %}{{ block.super }} / Entitlement Requests {% endblock page_title %}

{% block content %}
<div id="entitlementrequests">
	<h1>Entitlement Requests</h1>

	<div class="row">
		<div class="col-xs-12 col-md-6">
			<div id="filter-time" class="filter">
				<div class="btn-group hidden-sm hidden-xs filter-time" role="group" aria-label="filter-time">
					{% include "entitlementrequests/includes/filter_time.html" %}
				</div>
				<div class="btn-group-vertical visible-sm visible-xs filter-time" role="group" aria-label="filter-time">
					{% include "entitlementrequests/includes/filter_time.html" %}
				</div>
			</div>
		</div>

	</div>

	<div class="table-responsive">
		<table class="table table-hover tablesorter" id="entitementrequests-list">
			<thead>
				<th>Role Name</th>
				<th>User name</th>
				<th>Bank ID</th>
				<th>Created</th>
				<th>Action</th>
			</thead>

			<tbody>
			{% for entitlementrequest in entitlementrequests %}
			{% url 'users-detail' entitlementrequest.user.user_id as url_users_detail %}
			<tr class="entitlementrequest-row ">
				<td class="select">{{ entitlementrequest.role_name }}</td>
				<td><a href="{{ url_users_detail }}">{{ entitlementrequest.user.username }}</a></td>
				<td class="select">{{ entitlementrequest.bank_id }}</td>
				<td class="select">{{ entitlementrequest.created|naturaltime }}</td>
				<td>
					<form action="{% url 'entitlement-request-delete' entitlementrequest.entitlement_request_id %}" method="post">
						{% csrf_token %}
						<input type="hidden" name="next" value="{{ request.path }}" />
						<input type="hidden" name="role_name" value="{{ entitlementrequest.role_name }}" />
						<button type="submit" class="btn btn-primary btn-red">Reject</button>
					</form>
				</td>
			</tr>
			{% endfor %}
			</tbody>
			</tbody>
		</table>
	</div>


</div>
{% endblock content %}



{% block extrajs %}
{% comment %}
	<script type="text/javascript" src="{% static 'entitlementrequests/js/entitlementrequests.js' %}"></script>
	<script type="text/javascript">
	</script>
{% endcomment %}

{% endblock extrajs %}


{% block extracss %}
		<link href="{% static 'entitlementrequests/css/entitlementrequests.css' %}" rel="stylesheet">
{% endblock extracss %}
