{% extends 'base.html' %}
{% load static %}

{% block page_title %}{{ block.super }} / Customers{% endblock page_title %}


{% block content %}
<div id="customers">
    <h1>Create Customer</h1>

    <form action="{% url 'customers-create' %}" method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {{ form.non_field_errors }}
        </div>
        {% endif %}

        <div class="row">
            <div class="col-xs-12 col-sm-4">
                {% if form.bank_id.errors %}<div class="alert alert-danger">{{ form.bank_id.errors }}</div>{% endif %}
                <div class="form-group">
                    {{ form.bank_id.label_tag }}
                    {{ form.bank_id }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                {% if form.username.errors %}<div class="alert alert-danger">{{ form.username.errors }}</div>{% endif %}
                <div class="form-group">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                {% if form.customer_number.errors %}<div class="alert alert-danger">{{ form.customer_number.errors }}</div>{% endif %}
                <div class="form-group">
                    {{ form.customer_number.label_tag }}
                    {{ form.customer_number }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-4">
                {% if form.legal_name.errors %}<div class="alert alert-danger">{{ form.legal_name.errors }}</div>{% endif %}
                <div class="form-group">
                    {{ form.legal_name.label_tag }}
                    {{ form.legal_name }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                {% if form.mobile_phone_number.errors %}<div class="alert alert-danger">{{ form.mobile_phone_number.errors }}</div>{% endif %}
                <div class="form-group">
                    {{ form.mobile_phone_number.label_tag }}
                    {{ form.mobile_phone_number }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                {% if form.email.errors %}<div class="alert alert-danger">{{ form.email.errors }}</div>{% endif %}
                <div class="form-group">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                {% if form.face_image_url.errors %}<div class="alert alert-danger">{{ form.face_image_url.errors }}</div>{% endif %}
                <div class="form-group">
                    {{ form.face_image_url.label_tag }}
                    {{ form.face_image_url }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                {% if form.face_image_date.errors %}<div class="alert alert-danger">{{ form.face_image_date.errors }}</div>{% endif %}
                <div class="form-group">
                    {{ form.face_image_date.label_tag }}
                    {{ form.face_image_date }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                {% if form.date_of_birth.errors %}<div class="alert alert-danger">{{ form.date_of_birth.errors }}</div>{% endif %}
                <div class="form-group">
                    {{ form.date_of_birth.label_tag }}
                    {{ form.date_of_birth }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                {% if form.relationship_status.errors %}<div class="alert alert-danger">{{ form.relationship_status.errors }}</div>{% endif %}
                <div class="form-group">
                    {{ form.relationship_status.label_tag }}
                    {{ form.relationship_status }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                {% if form.dependants.errors %}<div class="alert alert-danger">{{ form.dependants.errors }}</div>{% endif %}
                <div class="form-group">
                    {{ form.dependants.label_tag }}
                    {{ form.dependants }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                {% if form.dob_of_dependants.errors %}<div class="alert alert-danger">{{ form.dob_of_dependants.errors }}</div>{% endif %}
                <div class="form-group">
                    {{ form.dob_of_dependants.label_tag }}
                    {{ form.dob_of_dependants }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
                {% if form.credit_rating_rating.errors %}<div class="alert alert-danger">{{ form.credit_rating_rating.errors }}</div>{% endif %}
                <div class="form-group">
                    {{ form.credit_rating_rating.label_tag }}
                    {{ form.credit_rating_rating }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                {% if form.credit_rating_source.errors %}<div class="alert alert-danger">{{ form.credit_rating_source.errors }}</div>{% endif %}
                <div class="form-group">
                    {{ form.credit_rating_source.label_tag }}
                    {{ form.credit_rating_source }}
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
                {% if form.credit_limit_currency.errors %}<div class="alert alert-danger">{{ form.credit_limit_currency.errors }}</div>{% endif %}
                <div class="form-group">
                    {{ form.credit_limit_currency.label_tag }}
                    {{ form.credit_limit_currency }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                {% if form.credit_limit_amount.errors %}<div class="alert alert-danger">{{ form.credit_limit_amount.errors }}</div>{% endif %}
                <div class="form-group">
                    {{ form.credit_limit_amount.label_tag }}
                    {{ form.credit_limit_amount }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                {% if form.highest_education_attained.errors %}<div class="alert alert-danger">{{ form.highest_education_attained.errors }}</div>{% endif %}
                <div class="form-group">
                    {{ form.highest_education_attained.label_tag }}
                    {{ form.highest_education_attained }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                {% if form.employment_status.errors %}<div class="alert alert-danger">{{ form.employment_status.errors }}</div>{% endif %}
                <div class="form-group">
                    {{ form.employment_status.label_tag }}
                    {{ form.employment_status }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                {% if form.kyc_status.errors %}<div class="alert alert-danger">{{ form.kyc_status.errors }}</div>{% endif %}
                <div class="form-group">
                    {{ form.kyc_status.label_tag }}
                    {{ form.kyc_status }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                {% if form.last_ok_date.errors %}<div class="alert alert-danger">{{ form.last_ok_date.errors }}</div>{% endif %}
                <div class="form-group">
                    {{ form.last_ok_date.label_tag }}
                    {{ form.last_ok_date }}
                </div>
            </div>
        </div>

        <input type="submit" value="Create" class="btn btn-primary" />
    </form>
</div>
{% endblock content %}


{% block extrajs %}
{% comment %}
    <script type="text/javascript" src="{% static 'customers/js/customers.js' %}"></script>
    <script type="text/javascript">
    </script>
{% endcomment %}
{% endblock extrajs %}


{% block extracss %}
    <link href="{% static 'customers/css/customers.css' %}" rel="stylesheet">
{% endblock extracss %}
